vscode-panel-view {
  flex-direction: column;
}

vscode-text-area {
  width: 100%;
}

code {
  white-space: pre-wrap;
}

pre code {
  background-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.controlBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

.markdown {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
}

.message {
  border-radius: 2px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.bot {
  background: var(--panel-view-border);
  padding: 1px 10px;
}

.loading {
  display: flex;
  justify-content: center;
}

.chatbox,
.send {
  margin-top: 7px;
}

.chatInput {
  border-radius: 5px;
}

.chatOptions {
  display: flex;
  justify-content: space-between;
}

.chatOptions > div {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: space-between;
}

.chatOptions vscode-badge {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 20px;
  white-space: nowrap;
}

.chatOptions svg {
  width: 18px;
  height: 18px;
}

.send {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.codeOptions {
  display: flex;
  gap: 3px;
  margin: 10px 0;
  justify-content: flex-end;
}

.settings {
  display: flex;
  justify-content: flex-end;
}

.selection {
  display: flex;
  align-items: center;
  gap: 2px;
}

.suggestions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.suggestion {
  display: flex;
  border: 1px solid var(--vscode-editorWidget-border);
  border-radius: 2px;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  flex: 0 0 calc(50% - 5px);
  box-sizing: border-box;
  margin-bottom: 5px;
  min-height: 40px;
  padding: 0 7px;
}

.suggestion svg {
  width: 20px;
}

.suggestion:nth-child(odd) {
  margin-right: 10px;
}

.suggestion--disabled {
  opacity: 0.5;
}

.suggestion:hover {
  background: var(--vscode-inputOption-hoverBackground);
  cursor: pointer;
}

.templateCheckbox label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.resetTemplatesButton {
  margin-top: 20px;
}

.modelSelect {
  width: 100%;
}

.modelSelect div {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.textIcon {
  font-size: 1.15rem;
  transform: translateY(-6px);
}
