vscode-panel-view {
  flex-direction: column;
  padding: 0;
  line-height: 1.5em;
}

vscode-text-area {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

pre {
  border-radius: 4px;
  background-color: var(--vscode-editor-background);
  border-color: var(--vscode-editor-background);
}

code {
  white-space: pre-wrap;
}

pre code {
  background-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.controlBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

.markdown {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 20px;
}

.title {
  background-color: var(--vscode-diffEditor-unchangedRegionBackground);
  color: var(--vscode-textPreformat-foreground);
  display: block;
  font-weight: 500;
  height: 30px;
  left: 10px;
  margin-bottom: 10px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
  width: calc(100% - 20px);
  z-index: 2;
}

.message {
  padding: 10px;
  border-top: solid 1px var(--divider-background);
}

.message:first-child {
  border-top: none;
}

.message p {
  margin: 0;
}

.messageRole {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.userMessage {
  background-color: var(--vscode-editorWidget-background);
}

.loading {
  display: flex;
  justify-content: center;
}

.chatBox {
  margin-top: 7px;
  position: relative;
}

.chatInput {
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  color: var(--input-foreground);
  background: var(--input-background);
  border: calc(var(--border-width) * 1px) solid var(--dropdown-border);
  font-size: var(--type-ramp-base-font-size);
  line-height: var(--type-ramp-base-line-height);
  padding: calc(var(--design-unit) * 2px + 1px);
  width: 100%;
  min-width: var(--input-min-width);
  font-family: var(--vscode-font-family);
  resize: none;
  overflow: hidden;
}

.chatSubmit {
  position: absolute;
  bottom: 7px;
  right: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: var(--input-background);
}

.chatOptions {
  display: flex;
  justify-content: space-between;
}

.chatOptions > div {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: space-between;
}

.chatOptions vscode-badge {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 20px;
  white-space: nowrap;
}

.chatOptions svg {
  width: 18px;
  height: 18px;
}

.send {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.codeOptions {
  display: flex;
  gap: 3px;
  margin: 10px 0;
  justify-content: flex-end;
}

.settings {
  display: flex;
  justify-content: flex-end;
}

.selection {
  display: flex;
  align-items: center;
  gap: 2px;
}

.suggestions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.suggestion {
  display: flex;
  border: 1px solid var(--vscode-editorWidget-border);
  border-radius: 2px;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  flex: 0 0 calc(50% - 5px);
  box-sizing: border-box;
  margin-bottom: 5px;
  min-height: 40px;
  padding: 0 7px;
}

.suggestion svg {
  width: 20px;
}

.suggestion:nth-child(odd) {
  margin-right: 10px;
}

.suggestion--disabled {
  opacity: 0.5;
}

.suggestion:hover {
  background: var(--vscode-inputOption-hoverBackground);
  cursor: pointer;
}

.vscodeCheckbox label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.resetTemplatesButton {
  margin-top: 20px;
}

.twinnyForm {
  width: 100%;
}

.twinnyForm div {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.textIcon {
  font-size: 1.15rem;
  transform: translateY(-6px);
}

.embeddingOptions {
  padding-bottom: 10px;
  width: 100%;
}

.embeddingOptions > div {
  width: 100%;
}

.embeddingOptions vscode-dropdown {
  width: 100%;
  margin-bottom: 7px;
}

.embeddingOptions .slider {
  width: 100%;
  transform: translateX(-4px);
}

.embeddingOptions .sliderLabel {
  transform: translateY(-9px);
}
