.provider {
  position: relative;
  padding: 10px;
  border-radius: 5px;
  background: var(--vscode-inputOption-hoverBackground);
  border: 1px solid var(--vscode-editorWidget-border);
  margin-bottom: 5px;
}

.providerDetails {
  gap: 10px;
  align-items: center;
  max-width: 80%;
  overflow: hidden;
}

.providerDetails > div {
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.providerActions {
  position: absolute;
  top: 10px;
  right: 10px;
}

.providerHeader {
  display: flex;
  gap: 3px;
  margin-bottom: 10px;
}

.providerForm {
  width: 100%;
}

.providerForm div {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.providerFormButtons {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-end;
  align-self: flex-end;
  gap: 5px;
}

.providerHeader svg {
  width: 20px;
}
