.added {
  background: #2ea04326;
  padding: 0.2rem;
}

.removed {
  background: #f851491a;
  padding: 0.2rem;
}

.diffBlock {
  overflow-x: auto;
  white-space: pre-wrap;
}

.diffHeader {
  font-weight: bold;
}
