vscode-panel-view {
  flex-direction: column;
  padding: 0;
  line-height: 1.5em;
}

vscode-text-area {
  width: 100%;
}

vscode-text-field {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.5;
}

h1 {
  font-size: 1.75em;
  margin-bottom: 0.5em;
  font-weight: 400;
  line-height: 1.3;
}

h2 {
  font-size: 1.25em;
  margin-bottom: 0.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.15em;
  margin-bottom: 0.5em;
  font-weight: 400;
}

h4 {
  font-size: 1em;
  margin-bottom: 0.5em;
  font-weight: 400;
}

h5 {
  font-size: 0.8em;
  margin-bottom: 0.5em;
  font-weight: 400;
}

h6 {
  font-size: 0.7y;
  margin-bottom: 0.5em;
  font-weight: 400;
}

pre {
  background-color: var(--vscode-textCodeBlock-background);
  border-radius: 3px;
  padding: 8px;
  overflow-x: auto;
}

code {
  font-family: var(--vscode-editor-font-family);
  font-size: 0.9em;
}

pre code {
  background-color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.controlBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

.markdown {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 20px;
  font-size: 14px;
  margin-top: 20px;
}

.title {
  color: var(--vscode-textPreformat-foreground);
  display: block;
  font-weight: 600;
  height: 30px;
  left: 10px;
  margin-bottom: 10px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
  width: calc(100% - 20px);
  z-index: 2;
  font-size: 13px;
  line-height: 30px;
}

.message {
  position: relative;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.message::after {
  content: '';
  position: absolute;
  bottom: -5px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.message:first-child {
  border-top: none;
}

.message p {
  margin: 0;
}

.messageRole {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 12px;
  min-height: 24px;
}

.userMessage {
  background-color: var(--vscode-editorWidget-background);
  align-self: flex-end;
}

.userMessage::after {
  right: 10px;
  background-color: var(--vscode-editorWidget-background);
}

.assistantMessage {
  background-color: var(--vscode-editor-background);
  align-self: flex-start;
}

.assistantMessage::after {
  left: 10px;
  background-color: var(--vscode-editor-background);
}

.messageOptions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.loading {
  display: flex;
  justify-content: center;
}

.chatBox {
  margin-top: 7px;
  position: relative;
}

.tiptap {
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  color: var(--input-foreground);
  background: var(--input-background);
  border: calc(var(--border-width) * 1px) solid var(--dropdown-border);
  font-size: var(--type-ramp-base-font-size);
  line-height: var(--type-ramp-base-line-height);
  padding: calc(var(--design-unit) * 2px + 1px);
  width: 100%;
  min-width: var(--input-min-width);
  font-family: var(--vscode-font-family);
  resize: none;
  font-size: 14px;
  overflow: hidden;
  outline: none;
  padding-right: 30px;
}

.chatSubmit {
  position: absolute;
  bottom: 1px;
  right: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: var(--input-background);
}

.chatOptions {
  display: flex;
  justify-content: space-between;
}

.chatOptions > div {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: space-between;
}

.chatOptions vscode-badge {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 20px;
  white-space: nowrap;
  font-size: 11px;
}

.chatOptions svg {
  width: 18px;
  height: 18px;
}

.send {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.codeOptions {
  display: flex;
  gap: 3px;
  margin: 10px 0;
  justify-content: flex-end;
}

.settings {
  display: flex;
  justify-content: flex-end;
}

.selection {
  display: flex;
  align-items: center;
  gap: 2px;
}

.suggestions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.suggestion {
  display: flex;
  border: 1px solid var(--vscode-editorWidget-border);
  border-radius: 2px;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  flex: 0 0 calc(50% - 5px);
  box-sizing: border-box;
  margin-bottom: 5px;
  min-height: 40px;
  padding: 0 7px;
  font-size: 12px;
}

.suggestion svg {
  width: 20px;
}

.suggestion:nth-child(odd) {
  margin-right: 10px;
}

.suggestion--disabled {
  opacity: 0.5;
}

.suggestion:hover {
  background: var(--vscode-inputOption-hoverBackground);
  cursor: pointer;
}

.vscodeCheckbox label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.resetTemplatesButton {
  margin-top: 20px;
}

.twinnyForm {
  width: 100%;
}

.twinnyForm div {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.textIcon {
  font-size: 1.15rem;
  transform: translateY(-6px);
}

.embeddingOptions {
  padding-bottom: 10px;
  width: 100%;
}

.embeddingOptions > div {
  width: 100%;
}

.embeddingOptions small {
  display: block;
}

.embeddingOptions vscode-button {
  margin-bottom: 5px;
}

.embeddingOptions vscode-dropdown {
  width: 100%;
  margin-bottom: 7px;
}

.embeddingOptions .slider {
  width: 100%;
  transform: translateX(-4px);
}

.embeddingOptions .sliderLabel {
  transform: translateY(-9px);
}

.tiptap p {
  margin: 0;
}

:global(.tiptap .mention) {
  background-color: var(--vscode-inputOption-activeBackground);
  border-radius: 0.4rem;
  box-decoration-break: clone;
  color: var(--vscode-inputOption-activeForeground);
  padding: 1px 2px 2px 2px;
}

:global(.tiptap) {
  outline: none;
}

:global(.tiptap:first-child ){
  margin-top: 0;
}

:global(.tiptap p.is-editor-empty:first-child::before) {
  color: var(--vscode-disabledForeground);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.dropdownMenu {
  background: var(--vscode-dropdown-background);
  border: 1px solid var(--vscode-inputOption-activeBorder);
  border-radius: 0.4rem;
  box-shadow: var(--vscode-widget-shadow);
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  overflow: auto;
  position: relative;
}

.dropdownMenu button, :global(.tiptap .item) {
  border: none;
  color: var(--vscode-foreground);
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  padding: 0.2rem 0.5rem;
  text-align: left;
}

.dropdownMenu button.dropdownSelected {
  background-color: var(--vscode-button-background);
  color: var(--vscode-inputValidation-infoForeground);
}

.menuContainer {
  padding: 10px;
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100vh - 93px);
  background-color: var(--vscode-editorWidget-background);
  z-index: 10;
  justify-content: flex-end;
  flex-direction: column;
  animation-name: animateUpFadeIn;
  animation-duration: 0.2s;
}

.menuContainer .active {
  background-color: var(--vscode-inputOption-activeBackground);
}

.prList {
  margin: 0;
  padding: 0;
}

.prList li {
  margin-bottom: 10px;
}

.prButtonContainer {
  margin-top: 7px;
}

.prItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.prTitle {
  flex-grow: 1;
  margin-right: 8px;
}
