.toolCard {
  margin: 16px 0;
  transition: box-shadow 0.3s ease;
}

.toolHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.collapsibleTitle {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  justify-content: space-between;
}

.titleActions {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: auto;
}

.filePath {
  color: var(--vscode-textLink-foreground);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  cursor: pointer;
  transition: color 0.2s ease;
  margin-left: 5px;
}

.filePath:hover {
  color: var(--vscode-textLink-activeForeground);
}

.toolBody {
  margin-bottom: 16px;
}

.toolParams {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.paramRow {
  display: flex;
  gap: 12px;
  font-size: 14px;
  line-height: 1.5;
}

.paramName {
  color: var(--vscode-textPreformat-foreground);
  font-weight: 600;
  min-width: 100px;
}

.paramValue {
  color: var(--vscode-editor-foreground);
  word-break: break-all;
  white-space: pre-wrap;
  flex-grow: 1;
}

.diffViewer {
  margin-top: 16px;
  border-radius: 4px;
}

.diffViewer pre {
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  font-size: 11pt !important;
  background: none !important;
}

.diffSummary {
  margin-left: 10px;
}

.addedColor {
  color: var(--vscode-gitDecoration-addedResourceForeground);
}

.removedColor {
  color: var(--vscode-gitDecoration-deletedResourceForeground);
}

.toolCard pre {
  box-shadow: none;
}

.fileLink {
  color: var(--vscode-textLink-foreground);
}
